
<div class="login-body">
   
    <div class="login-wrapper">
     
        <div class="login-panel">
          
            <form #f="ngForm">

          <div class="form-group">
          <label for="username"></label>
            <input pInputText name="usern" [ngModelOptions]="{standalone: true}"   class="form-control"
            [(ngModel)]="user.username" placeholder="username" required autofocus />
            <small class="p-error" *ngIf="submitted && !user.username">Name is required.</small>
        </div> 
<br>


        
<label for="password"></label>
<input type="password" placeholder="password"  [ngModelOptions]="{standalone: true}" name="pass" [(ngModel)]="user.password"   class="form-control"  pPassword />
        
<br>

<p-divider></p-divider> 
           <button pButton pRipple label="LOGIN" type="button" icon="pi pi-sign-in"  [disabled]="f.invalid"  (click)="onLoggedin()" ></button>
        <br>
       
          
        </form>
        </div>
       
        <div class="login-footer">
            <h4>Asm</h4>
            <h6>Copyright Ⓒ All soft Multimedia</h6>
        </div>
    
    </div>
</div>


