<div class="layout-footer">
    <div class="p-grid">
        <div class="p-col-12  p-lg-4">
            <div class="p-grid">
                <div class="p-col-6 ">
                    <span class="footer-menutitle">SITE MAP</span>
                    <ul>
                        <li><a [routerLink]="['/ap/demo/view/dashboard']">Home</a></li>
                        <li><a [routerLink]="['/ap/pages/employee/employee']">Employe</a></li>
                        
                    </ul>
                </div>
                <div class="p-col-6">
                    <span class="footer-menutitle"></span>
                    <ul>
                       
                       
                        <li><a [routerLink]="['/documentation']">Documentation</a></li>
                        <li><a href="https://asmpos.com/">News</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
            <span class="footer-menutitle">CONTACT US</span>
            <ul>
                <li>(+216) 50555566</li>
                <li>Sfax</li>
                <li>Tunis</li>
                <li>Sousse</li>
            </ul>
        </div>
        <div class="p-col-12 p-md-6 p-lg-5">
            <span class="footer-menutitle">NOUVEAUTES</span>
            <span class="footer-subtitle">Joingnez Nous.</span>
                <div class="newsletter-input">
                    <input pInputText type="text" placeholder="email address" />
                    <button pButton pRipple type="button" label="Joingnez" class="p-button-secondary "></button>
                </div>
        </div>
        <div class="p-col-12">
            <div class="footer-bottom">
                <h4>Asm Pos</h4>
                <h6>Copyright Ⓒ All Soft Multimedia</h6>
            </div>

        </div>
    </div>
</div>
