<div class="layout-topbar">
    <div class="layout-topbar-wrapper">
        <div class="layout-topbar-left">
            <a tabindex="0" class="menu-button" (click)="appMain.onMenuButtonClick($event)">
                <i class="pi pi-bars"></i>
            </a>
           






            
        </div>

        <app-menu></app-menu>
       
        <div class="layout-topbar-right">
            
            <ul class="layout-topbar-actions">
               
                <li #searchItem class="topbar-item search-item" [ngClass]="{'active-topmenuitem': appMain.search}">
                    <a tabindex="0" (click)="appMain.onTopbarItemClick($event,searchItem)">
                        <i class="topbar-icon pi pi-search"></i>
                    </a>

                    <div class="search-input-wrapper">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input type="text" pInputText placeholder="Search..." (click)="appMain.searchClick = true;"/>
                        </span>
                    </div>

                    <ul class="fadeInDown">
                        <div class="search-input-wrapper p-fluid" style="width: 100%">
                            <span class="p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input type="text" pInputText placeholder="Search..." (click)="appMain.searchClick = true;"/>
                            </span>
                        </div>
                    </ul>
                </li>
               
                <li #profile class="topbar-item user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.activeTopbarItem === profile}">
                    <a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                        <button pButton type="button" class="p-button-raised p-button-rounded" icon="pi pi-power-off"></button>
                    </a>
                    <ul class="fadeInDown">
                        <li>
                            <a  *ngIf="!authService.isloggedIn" routerLink=''>
                                <span>Login</span>
                            </a>
                        </li>
                        <li>
                            <a *ngIf="authService.isloggedIn" (click)="onLogout()">
                                <span>Logout</span>
                            </a>
                        </li>
                      
                    </ul>
                </li>
            </ul>

           
        </div>
    </div>
</div>
