
<div class="p-grid">
    <div class="p-col-12">
                          <p-toast></p-toast>
    <div class="card">
                  <p-toolbar styleClass="p-mb-4">
           <ng-template pTemplate="left">
               <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
              
           </ng-template>
   
        
                  </p-toolbar>
   
           <p-table  #dt [value]="sites"  [rows]="10" [paginator]="true" [globalFilterFields]="['designation']"
         [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
   
   
           <ng-template pTemplate="caption">
   
               <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
   
                   <h5 class="p-m-0">site</h5>
                   <div class="search-input-wrapper">
                   <span class="p-input-icon-left">
                   <p-button icon="pi pi-search"></p-button>
                   <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                   </span>
   </div>
               </div>
           </ng-template>
           <ng-template pTemplate="header">
               <tr>
   
                   <th style="width: 3rem">
                       <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                   </th>
                   <th  pSortableColumn="designation">designation<p-sortIcon field="designation"></p-sortIcon></th>
                   <th  pSortableColumn="filialesite">filiale<p-sortIcon field="filialesite"></p-sortIcon></th>
                   <th  pSortableColumn="societesite">societe<p-sortIcon field="societesite"></p-sortIcon></th>
                   <th>options</th>
                  
               </tr>
           </ng-template>
   
   
           <ng-template pTemplate="body" let-site>
               <tr>
                   <td>
                       <p-tableCheckbox [value]="site"></p-tableCheckbox>
                   </td>
                 
                   
       <td> {{site.designation}}</td>
       <td> {{site.filialesite}}</td>
       <td> {{site.societesite}}</td>
                  
                   <td>
                       <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"   *ngIf="authService.isAdmin()" (click)="editSite(site)"></button>
                       <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"  *ngIf="authService.isAdmin()" (click)="deleteData(site.id)"></button>
                   </td>
                </tr>
           </ng-template>
           <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                In total there are {{sites ? sites.length : 0 }} sites.
            </div>
        </ng-template>
       </p-table>
   
   
   
   
   
   
   
    <p-dialog [(visible)]="siteDialog" [style]="{width: '80%'}" header="site Details" [modal]="true" styleClass="p-fluid">
       <ng-template pTemplate="content"  *ngIf="authService.isAdmin()" (ngsubmit)="insertData()">
          
         
   
  
  
   
   
    
   
        <div class="p-field">
            <label for="designation">designation</label>
            <input type="text" pInputText id="designation" [(ngModel)]="site.designation" required autofocus />
            <small class="p-error" *ngIf="submitted && !site.designation">designation is required.</small>
        </div>
        <div class="p-field">
            <label for="filialesite">filiale</label>
            <p-dropdown [options]="filiales" [(ngModel)]="selectedFiliale"  [(ngModel)]="site.filialesite" optionLabel="codef" (onChange)="onFilialeChange($event)" optionValue="id"></p-dropdown> 
        </div>
        <div class="p-field">
            <label for="societesite">societe</label>
                 <p-dropdown [options]="societeees" [(ngModel)]="selectedSociete"  [(ngModel)]="site.societesite" optionLabel="code" (onChange)="onSocieteChange($event)" optionValue="id"></p-dropdown> 
                            
        </div>
         
   
          
   
   
         
          
             
   
       </ng-template>
   
       
   
       <ng-template pTemplate="footer">
           <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
           <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" *ngIf="authService.isAdmin()" (click)="insertData()"></button>
      
       </ng-template>
   
       </p-dialog>
   
       <p-dialog [(visible)]="updatesiteDialog" [style]="{width: '450px'}" header="site Details" [modal]="true" styleClass="p-fluid">
           <ng-template pTemplate="content"  *ngIf="authService.isAdmin()" (ngsubmit)="updateData()">
              
            <div class="p-field">
                <label for="designation">designation</label>
                <input type="text" pInputText id="designation" [(ngModel)]="site.designation" required autofocus />
                <small class="p-error" *ngIf="submitted && !site.designation">designation is required.</small>
            </div>
            <div class="p-field">
                <label for="filiale">filiale</label>
                <p-dropdown [options]="filiales" [(ngModel)]="selectedFiliale" optionLabel="codef" (onChange)="onFilialeChange($event)" optionValue="id"></p-dropdown> 
            </div>
            <div class="p-field">
                <label for="societe">societe</label>
                <p-dropdown [options]="societeees" [(ngModel)]="selectedSociete" optionLabel="code" (onChange)="onSocieteChange($event)" optionValue="id"></p-dropdown> 
                
            </div>
             
       
                 
       
       
             
              
                 
       
           </ng-template>
       
           
       
           <ng-template pTemplate="footer">
               <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
               <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="updateData()"></button>
          
           </ng-template>
       
       </p-dialog>
       <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
   </div>
   
   
   </div>












